* {
  outline: none;
}


@media screen and (min-width: 1280px )  {

  #header {
    width: 1280px; 
  }

  .subMenuDc {
    width:100%;
  }

  .orderSerices{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .subTrackItem{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .sub_menu{
    display: inline-block;
    position: absolute;
    width: 100%;
    left: calc( (100% - 1280px)/2 + 249.6px ) ;
  }
}

@media screen and ( max-width: 1280px) {

  #headerRange {
    width:1280px;
  }

  #header {
    width: 1280px; 
  }

  .subMenuDc {
    width: 1281px;
  }

  .orderSerices{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .subTrackItem{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .sub_menu{
    display: inline-block;
    position: relative;
    width: 100%;
    left: 19.5%;
  }

  .exland {
    width: calc( 100% + ( 1280px - 100%) );
  }
}

#headerRange {
  border-bottom: 1px solid #dedede;
}

#header {
  left: 25%;
  margin:auto;
  display: flex;
  /* flex-wrap: wrap;  */
  flex-direction: row;
  justify-content:center;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.header_logo {
  margin: 0;
  padding: 0 10px ;
  width: 173px;
  height: 40px;
  background: url(https://static-test.cdn-eztravel.com/www/api/12882c9/images/eztravel-logo.svg) 0 0 no-repeat;
  margin-top: 12px;
  overflow: hidden;
  display: inline-block;
  order: 1;
  flex: 0.315;
}

#header_main_menu { 
  /* padding-left: -30%; */
  display: inline-block;
  margin-top: 0; 
  margin-left: 20px;
  overflow: hidden;
  order: 2;
  flex: 1.15;
 }

.main_menu_dc {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

a {
  text-decoration:none;
}

.dropdown_main_menu>a {
  padding: 16px ;
  color: #222;
  font-weight: 700;
}

.dropdown_main_menu>a:hover {
  background-color: #f1f7f8;
}

.headerOther {
  order:3;
  flex: 0.7 ;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
}

.headerOther>a {
  font-size: 14px;
  color: #666;
}

.header_track{
  font-size: 14px;
  display: inline-block;
  position: relative;
}

#follow_line {
  padding: 4px;
  color: #cac6c6b6;
}

/* 顯示向下三角符號 */
.spanText:after {
  content: "";
  margin: 0 0 2px 5px;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: #222 transparent;
  border-style: solid;
  border-width: 5px 4px 0;
}

.checkOrder {
  color: #222;
  font-size: 14px;
  display: inline-block;
  position: relative;
}

.logbtn> a.login_a {
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  background-color: #55d040;
  color: #fff;
  margin: 0 10px;
  padding: 5px 13.5px;
}

.logbtn> a.sighUp_a {
  color: #119d36;
  font-size: 14px;
  font-weight: 700;
}

.subMenuDc {
  top: 50px;
  height: 129px;
  z-index: 5;
  position: absolute;
  left: 0;
  background-color: #f1f7f8;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 40%);  
  border-top: 1px solid #dedede;
}

.sub_menu {
  margin: 0 auto;
  /* padding: 15px 0; */
  top: 20px;
  background-color: #f1f7f8;
  position: absolute;
  list-style-type: none;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
}

.b_type {
  font-weight: 700;
  position: relative;
}

.sub_menu_item {
  width: 100px;
  font-size: 14px;
  color: #222;
}

/* 指定位置顯示 */
.sub_menu>li {
  width: 25%;
  margin: 7.5px 0;  
}

.b_type::before {
  content: "";
  position: absolute;
  left: -21px;
  top: 1px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 50%;
  background-image: url(https://static.cdn-eztravel.com/www/api/eb98605/images/icon-submenu-highlight.svg);
}

/* 子選單隱藏 */
.subMenuDc {
  display: none;
}

/* 主選單換色 */
.dropdown_main_menu>a:hover  {
  color: #0c9251;
}

/* 滑鼠滑入展開次選單*/
ul > div.main_menu_dc li:hover > div.subMenuDc  { 
  display: block;
}
/* 企業服務、客制旅遊 字體換色 */
.headerOther>a:hover {
  color: #0c9251;
}

.sub_menu > li a:hover {
  color: #0c9251;
}

.subTrackItem>ul {
  padding: 0px 0 0px 13px;
  list-style-type: none;
}

.subTrackItem {
  background-color: #fff;
  z-index: 10;
  top: 30px;
  /* left: 67.5%; */
  display: none;
  border-radius: 10px;
  height: 187px;
  width: 130px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 1px 18px 0 rgba(0,0,0,.12),0 6px 10px 0 rgba(0,0,0,.14);
}

.trackLine {
  background-image: url(https://static.cdn-eztravel.com/www/api/eb98605/images/header-line.svg);
}

.trackFB {
  background-image: url(https://static.cdn-eztravel.com/www/api/eb98605/images/header-fb.svg);
}

.trackBG {
  background-image: url(https://static.cdn-eztravel.com/www/api/eb98605/images/header-blog.svg);
}

.trackIG {
  background-image: url(https://static.cdn-eztravel.com/www/api/eb98605/images/header-ig.svg);
}

.trackYT {
  background-image: url(https://static.cdn-eztravel.com/www/api/eb98605/images/header-yt.svg);
}

.subTrackItem > ul li{
  background-color: #fff;
}

.subTrackItem > ul li > a {
  display: block;
  font-size: 14px;
  color: #222;
  padding: 7.5px 0 7.5px 35px;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 24px;
  background-color: #fff;
}

/* 三角符號 */
.subTrackItem:before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-color: transparent transparent #fff;
  border-style: solid;
  border-radius: 10px;
  border-width: 0 10px 13px;
}

.header_track:hover > div.subTrackItem {
  display:block;
}

.orderSerices>ul {
  padding: 0px 0 0px 8px;
  margin-top: 10px;
  list-style-type: none;
}

.orderSerices{
  z-index: 10;
  background-color: #fff;
  text-align: center;
  top: 30px;
  display: none;
  border-radius: 10px;
  height: 217px;
  width: 130px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 1px 18px 0 rgba(0,0,0,.12),0 6px 10px 0 rgba(0,0,0,.14);
}

.orderSerices > ul li > a {
  display :block;
  font-size: 14px;
  color: #222;
  padding: 7px 0 7px 0px;
}

/* 三角符號 */
.orderSerices:before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-color: transparent transparent #fff;
  border-style: solid;
  border-radius: 10px;
  border-width: 0 10px 13px;
}

.checkOrder:hover > div.orderSerices {
  display:block;
}

.bodyDiv {
  height: 100%;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
}

.bodyDiv_con {
  grid-gap: 120px;
  width: 1133px; 
  /* width: 59%; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.divLift {
  order: 1;
  flex: 1;
  height: 700px;
  background-image: url(https://static.cdn-eztravel.com/www/home/images/contact-bg.svg);
  background-position: 0 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.divRight {
  order: 2;
  flex: 1 ;
  height: 700px;
}

.title_h {
  font-size: 32px;
}

.divLift > p.p_ti {
  font-weight: 700;
  color: #222;
  font-size: 20.5px;
}

.title_h:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  height: 0;
  border-color: #11d073 transparent transparent;
  border-style: solid;
  border-width: 36px 36px 0 0;
}

.p_inline {
  font-size: 16px;
  display: inline;
}

.divLift > p.p_orang {
  color: #ff8b00;
}

.divLift > p.p_kuro2 {
  display: inline;
}

.p_orderCheck {
  cursor: pointer;
  color: #ff8b00;
  text-decoration: underline;
}

.p_ti_star{
  font-size: 14px;
}

.input_dddw {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 497px;
  height: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  box-shadow: 0 1px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.14);
  border: 1px solid #dedede;
}

.input_dddw > span {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 0 10px 0 10px;
  font-size: 14px;
}

.input_dddw > span:after {
  content: "";
  margin: 0 0 2px 425px;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: #222 transparent;
  border-style: solid;
  border-width: 5px 4px 0;
}
.initText {
  border: 1px solid #dedede;
}

.initText:hover {
  border: 1px solid rgb(27, 235, 27);
}

.div_dddwItem>ul {
  list-style-type: none;
}

.div_dddwItem {
  background-color: #fff;
  position: absolute;
  z-index: 4;
  display: none;
  height: 160px;
  overflow-y:auto;
  width: 495px;
  margin-top: 195px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 1px 18px 0 rgba(0,0,0,.12),0 6px 10px 0 rgba(0,0,0,.14);
  border: 1px solid #dedede;
}

.div_dddwItem>ul li {
  margin: 0px 0px 0px -25px;
  padding: 4px 0px 4px 0px ;
}

.div_dddwItem ul li:hover {
  background-color: #a0ecc7;
}

.input_dddw:hover > div.div_dddwItem  {
  display: block;
}

.otherDesc {
  position: relative;
  z-index: 1;
}

.p_tlEdit {
  margin-top: 27px;
  font-size: 14px;
}

.i_tlEdit {
  margin-left: 1px;
  margin-top: -10px;
  padding: 5px 10px;
  width: 480px;
  height: 76px;
}

.i_tlEdit:focus-visible {
  border: 1px solid #11d073;  
}


.i_tlEdit:hover {
  border: 1px solid #11d073;  
}

.custTitle {
  margin-top: 40px;
  font-size: 14px;
}

.custInputInfo:focus-visible {
  border: 1px solid #11d073;  
}

.custInputInfo:hover {
  border: 1px solid #11d073;  
}

.custInfo {
  margin-top: -10px;
  display: block;
}

.custInputInfo {
  padding: 0px 10px ;
  display: inline;
  width: 50%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #dedede;
}

.msBtn {
  text-align: center;
  display: block;
  width: 75px;
  height: 30px;
  margin: -32px 0px 0px 425px;
  border: 1px solid #dedede;
}

.mrBtn {
  text-align: center;
  display: block;
  width: 75px;
  height: 30px;
  margin: -33px 0px 0px 315.5px;
  border: 1px solid #dedede;
}

.msBtn > p {
  margin-top: 3px;
}

.mrBtn > p {
  margin-top: 3px;
}

.msBtn:hover {
  border: 1px solid #11d073;
  cursor: pointer;
}

.mrBtn:hover {
  border: 1px solid #11d073;
  cursor: pointer;
}

.msBtn:focus-visible {
  border: 1px solid #11d073;  
}

.mrBtn:focus-visible {
  border: 1px solid #11d073;  
}

.p_tel {
  margin-top: 40px;
  font-size: 14px;
}

.custTelInfo{
  margin-top: -10px;
  display: inline;
  width: 495px;
  height: 30px;
  padding: 0px 10px;
  border-radius: 3px;
  border: 1px solid #dedede;
}

.custTelInfo:focus-visible {
  border: 1px solid #11d073;  
}

.custTelInfo:hover {
  border: 1px solid #11d073;  
}

.p_mail {
  margin-top: 40px;
  font-size: 14px;
}

.custMailInfo {
  margin-top: -10px;
  display: inline;
  width: 495px;
  height: 30px;
  padding: 0px 10px;
  border-radius: 3px;
  border: 1px solid #dedede;
}

.custMailInfo:focus-visible {
  border: 1px solid #11d073;  
}

.custMailInfo:hover {
  border: 1px solid #11d073;  
}

.btn_div {
  margin: 30px;
}

.btn_resut {
  top : 20px;
  font-size: 20px;
  height: 40px;
  width: 150px;
  border-radius: 3px;
  border: 1px solid #dedede;
}

.btn_submit {
  top : 20px;
  background-color: #11d073;
  color: white;
  font-size: 20px;
  height: 40px;
  margin: 0px 0px 0px 42.5px;
  width: 150px;
  border-radius: 3px;
  border: 1px solid #11d073;
}

.btn_submit:hover {
  cursor: pointer;
  background-color: #0b8347;
  border: 1px solid #0b8347;
}

.btn_resut:hover {
  cursor: pointer;
  background-color: #dae1e1;
  border-color: #dae1e1;
}

body{
  -webkit-user-select: none; 
  -webkit-user-drag: none;
  margin: 0;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 700px;
}
  
.exland {
  /* margin: 135px 0px 0px 0px; */
  border: 1px solid #0b8347;
  border-left: none;
  border-right: none;
  border-bottom:none;
  margin-bottom: 100%;
}

.landMenu {
  margin: auto;
  /* width: 65%; */
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.menuItem {
  font-size: 18px;
  color: #222;
  margin: 50px;
}

.menuItem:hover {
  color: #119d36;
}